html{
    background-color: #C2C2C2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
    padding: 0.7% 7% 0.7% 7%;

}

body{
    overflow-x: hidden;
}

#page-loader {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: #C2C2C2;
    z-index:9999;
    display:block;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#page-loader::after {
    content:'';
    display:block;
    position:absolute;
    left: 44vw;
    top: 40%;
    width: 12vw;
    height: 12vw;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .5s linear infinite;
    animation: spin .5s linear infinite;
}

.viz-grid{
    display: grid;
    grid-template-areas: 
        'title title title'
        'intro intro intro'
        'viz-1 middle viz-3'
        'text text text'
        '1-2-text middle middle'
        'text text text'
        'viz-2 3-4-text viz-4';
    gap: 15px;
    background-color: #C2C2C2;
}

.viz-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: #E8E8E8;
    padding: 15px;

    border-radius: 10px;
    box-shadow: 0 10px 6px -6px #d0d0d0;
}

#viz-intro-row, #map-viz, #viz-text-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#viz-title{
    grid-area: title;
    text-align: center;
    font-size: 1.5em;

    margin-bottom: -30px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#viz-intro, .viz-text{
    grid-area: intro;
    text-align: center;
    width: 80%;
    font-size: 1.15em;
}

#viz-1{
    grid-area: viz-1;
    width: 80%;
}

#viz-1-2-text{
    grid-area: 1-2-text;
    width: auto;
    padding: 10px;

    display: flex;
    align-items: center;
    text-align: center;
}

#viz-2{
    grid-area: viz-2;
}

#viz-3{
    grid-area: viz-3;
}

#viz-3-4-text{
    grid-area: 3-4-text;
    width: auto;
    padding: 10px;

    display: flex;
    align-items: center;
    text-align: center;
}

#viz-4{
    grid-area: viz-4;
}

#map-viz{
    grid-area: middle;
    width: 100%;
    position: relative;
}

#map-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#map-viz-footer {
    width: 100%;
    border-top: 1px solid black;
    padding: 11px;
    flex-direction: row;
    justify-content: space-around;
}

#country-details-instruction{
    font-size: 1.1em;
}

#country-details-hover{
    display: none;
}

.map-viz-footer-item{
    font-size: 1.1em;
    margin-right: 15px;
}

/* Annotations styling -------------------------------------------------- */
.viz-annotations{ 
    z-index: 10;
    position: absolute;
    text-align: left;
}

.annotations-region-name{
    font-size: 0.9em;
    letter-spacing: 0.75px;
}

.annotations-country-name{ 
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
}

/* CANADA */
#na-annotations-img{
    top: 10.75%;
    left: 17.5%;
}

#na-annotations-text{
    top: 11.5%;
    left: 24%;
}

/* UKRAINE */
#ua-annotations-img{
    top: 201px;
    left: 810px;
}

#ua-annotations-text{
    top: 205px;
    left: 1115px;
}

/* NEW ZEALAND */
#nz-annotations-img{
    top: 67.5%;
    left: 87%;
}

#nz-annotations-text{
    top: 78.5%;
    left: 80%;
}